body {
    background-color: #1e1e1e;
}

/* head */
.head {
    position: relative;
    height: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
    padding: 10px;
}
.head button{
    position: absolute;
    text-decoration: none;
    outline: none;
    border-style: none;
    background: none;
    cursor: pointer;
    font-size: 14pt;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    font-weight: 600;
    color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
}
.head button.login {
    border-left-style: groove;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    right: 0px;
}

/* maincontent */

/* foot */
.foot {
    position: absolute;
    color: #ffffff44;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    bottom: 10px;
    right: 10px;
    text-align: center;
}