.playground {
  flex: 1;
  margin: 0 0 0 5px;
  height: 100%;
  background-color: #1e1e1e;
}

.code-editor {
  position: relative;
  height: 33.33%;
}

.editor-header {
  background-color: rgb(40, 40, 40);
  font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
  height: 30px;
  content: attr(title);
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-size: 18px;
  color: #f0f0f0;
}

.react-codemirror2 {
  position: static;
  height: calc(100% - 30px);
  overflow: auto;
  font-size: 10pt;
}

.resizer {
    width: 5px;
    height: 100%;
    cursor: col-resize;
}

.result {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
  margin-right: 5px;
}

.iframe {
  width: 100%;
  height: calc(100% - 35px);
  background-color: #2c2c2c;
  color: #f0f0f0;
  
}

iframe {
  border-style: none;
}

.footer_bar {
  background-color: #2c2c2c;
  margin-top: 5px;
  height: 30px;
}

.footer_bar button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  float: right;
  color: #f0f0f0;
  border-style: none;
  border-radius: 4px;
  height: 100%;
}
.footer_bar button:hover {
  background-color: rgb(70,70,70);
}
.footer_bar button.header_item {
  height: 100%;
  margin: 0 5px 0 5px;
  float: left;
}