.menubar {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 30%;
    float: left;
    align-items: center;
    padding-left: 20px;
    border-left-style: solid;
    color: white;
}
.menu_item {
    position: relative;
    text-decoration: none;
    outline: none;
    border-style: none;
    background: none;
    cursor: pointer;
    font-size: 12pt;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0 10px 0 10px;
    line-height: 30px;
}
.menu_item:hover {
    background-color: rgb(70,70,70);
}
.item_holder {
    position: absolute;
    color: #f0f0f0;
    font-size: 12pt; 
    top: 50px;
    left: 0;
    width: 200px;
    z-index: 2;
    border-style: none;
    background-color: #1e1e1e;
    box-shadow: 0px 0px 10px 0px #ffffff;
}