.sidebar {
    display: inline-flex;
    background-color: rgb(40, 40, 40);
    height: 100%;
  }
.sbar_icons {
    background-color: rgb(70, 70, 70);
    width: 50px;
    height: 100%;
    text-align: center;
}
.icon {
    cursor: pointer;
}
.icon:active {
    background-color: rgb(40, 40, 40);
}
.icon.open {
    background-color: rgb(40, 40, 40);
}