/* Side Bar */
.sidebar {
    position: relative;
    display: inline-flex;
    background-color: rgb(40, 40, 40);
    height: 100%;
  }
.sbar_iconContainer {
    position: relative;
    background-color: rgb(70, 70, 70);
    width: 50px;
    height: 100%;
    text-align: center;
}
.sbar_icon {
    cursor: pointer;
    color: #bbb;
}
.sbar_icon:hover {
    color: #f0f0f0;
}
.sbar_icon:active {
    background-color: rgb(40, 40, 40);
}
.sbar_icon.open {
    background-color: rgb(40, 40, 40);
    color: #f0f0f0;
}
.sbar_help_icon {
    position: absolute;
    cursor: pointer;
    color: #bbb;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.sbar_help_icon:hover {
    color: #f0f0f0;
}

.sbar_content {
    position: relative;
}

/* Explorer */
.SidebarElement {
    width: 200px;
    height: 100%;
    margin: 0 auto;
    color: #f0f0f0;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
}

.sidebar_title {
    position: relative;
    text-align: center;
    margin: 10px auto;
    font-weight: 600;
    line-height: 28px;
}
.sidebar_element {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.sidebar_element .signin_git_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: #0d9e5b;
    border-radius: 6px;
    padding: .5em;
    font-size: .9em;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.sidebar_element .signin_git_button:hover{
    background-color: #0d9e5bbf;
}