.userdrop_container {
    position: absolute;
    z-index: 1001;
    font-size: 10pt; 
    color: #f0f0f0;
    font-weight: normal;
    top: 40px;
    right: 0;
    width: 160px;
    border-radius: 2px;
    border-style: none;
    background-color: #2e2e2e;
    box-shadow: -2px 2px 5px 0px #0a0a0a;
}
.row_divider {
    color: rgb(70,70,70);
    border-top: 1px solid;
    width: 140px;
    margin: 0 auto;
    margin-top: -0.5px;
}
.user_item {
    padding: 0 20px 0 20px;
}
.user_item:hover {
    background-color: rgb(70,70,70);
}