.maincontent.dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 94vh;
}
.dashboard_pane.vertical {
    height: calc(100% - 5px);
    margin-top: 10px;
}
.dashboard_pane.vertical.dashboard_pane1 {
    flex: 1;
    min-width: 25vh;
    margin-right: 5px;
    background-color: rgb(40,40,40);
}
.dashboard_pane1.container {
    position: relative;
    top: 10vh;
}
.dashboard_pane1.element {
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    font-size: 12pt;
    color: #f0f0f0;
    padding: 10px 20px;
    margin-bottom: 5px;
    cursor: pointer;
}
.dashboard_pane1.element.active {
    background-color: #0d9e5b33;
}
.dashboard_pane.vertical.dashboard_pane2 {
    flex: 6;
}
.dashboard_pane2.header_container {
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: rgb(40,40,40);
}
.grid_title {
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    font-size: 16pt;
    color: #f0f0f0;
    padding: 20px;
}
.dashboard_pane2.grid_container {
    position: relative;
    height: calc(100% - 10vh - 40px);
    padding: 40px 40px 0 40px;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: scroll;
}
#deleted_projects {
    display: none;
}
.grid_element {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 30vh;
    margin-bottom: 40px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.grid_element.new {
    background-color: #0d9e5b1a;
    border: 2px dashed #0d9e5bbf;
}
.grid_element.project {
    border: 2px solid #0d9e5bbf;
}
.project_image {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 1px);
    background-color: #f0f0f0;
}
.project_name {
    flex: 1;
    display: flex;
    width: calc(100% - 21px);
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    color: #f0f0f0;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    font-size: 14pt;
    font-weight: 600;
    background-color: #0d9e5b1a;
}

.project_icon {
    position: relative;
    color: #f0f0f0cc;
}
.project_icon:hover {
    color: #f0f0f0;
}

.projectOptions_container {
    position: absolute;
    z-index: 500;
    font-size: 10pt; 
    color: #f0f0f0;
    font-weight: normal;
    min-width: 100px;
    width: max-content;
    border-radius: 2px;
    background-color: #2e2e2e;
    box-shadow: 0px 0px 4px 0px #0a0a0a;
}
.projectOptions_row_divider {
    color: rgb(70,70,70);
    border-top: 1px solid;
    width: 100%;
    margin: 0 auto;
    margin-top: -0.5px;
}
.projectOptions_item {
    padding: 5px 10px;
}
.projectOptions_item:hover {
    background-color: rgb(70,70,70);
}