.Console {
    height: 30vh;
    margin-right: 5px;
    user-select: text;
}
.console_contaniner {
    display: block;
    background-color: #1e1e1e;
    height: calc(100% - 26px);
}
  
.console_tab {
    height: 26px;
    background-color: #2c2c2c;
    padding-right: 5px;
}
  
.console_tab button {
    position: relative;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: #f0f0f0;
    border-style: none;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
}
  
.footer_bar {
    background-color: #2c2c2c;
    height: 26px;
}
  
.footer_bar button {
    position: relative;
    right: 5px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    float: right;
    color: #f0f0f0;
    border-style: none;
    border-radius: 4px;
    height: 100%;
}
.footer_bar button:hover {
    background-color: rgb(70,70,70);
}
.footer_bar button.header_item {
    height: 100%;
    margin: 0 10px 0 0;
    float: left;
}
::-webkit-scrollbar {
    display: none;
}