/* maincontent */
.SignIn .maincontent {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
.signin_title {
    margin-bottom: 10px;
    font-size: 25pt;
    color: #ffffff;
    font-weight: 600;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
}
.signin_box {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff2c;
    margin: 0px auto;
    border-radius: 10px;
    width: 350px;
    height: 480px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
}
.signin_input {
    display: flex;
    flex-direction: column;
}
.SignIn .box_input {
    position: relative;
    text-align: left;
	margin: 1em 2em 0em;
    padding: .8em 1em;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 6px;
}
.box_input span.fa {
    color: #222;
    width: 22px;
}
.signin_input input{
    outline: none;
    font-size: 15px;
    color: #222;
	border:none;
    display: block;
    background: transparent;
    float: right;
    letter-spacing: 1px;
    width: 90%;
}
.signin_box button {
    position: relative;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    color: white;
    font-weight: 600;
    user-select: none;
    font-size: 0.875em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: .8em 1em;
    letter-spacing: 1px;
}
.signin_box button.signin_button {
    font-size: 1rem;
    margin: 1.5em 2em 1.5em;
    background-color: rgb(13, 158, 91);
}
.signin_box button.signin_git_button {
    font-size: 1rem;
    margin: 1.5em 2em .5em;
    background-color: #0d9e5b;
}
.signin_box button.signin_button:hover, .signin_box button.signin_git_button:hover{
    background-color: #0d9e5bbf;
}
.signin-divider {
    width: 100px;
    margin: 0 auto;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.signin-divider .bar-top {
    left: 66px;
}
.signin-divider .bar-bottom {
    right: 66px;
}
.signin-divider .bar {
    height: 1px;
    width: 135px;
    position: absolute;
    background: #ffffff;
}
.signin-or {
    position: absolute;
    display: block;
    width: 30px;
    height: 20px;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid #ffffff;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: .8rem;
    color: #ffffff;
}
.links p {
    display: block;
    width: 45%;
    margin: 0 auto;
    float: right;
}
.links p a {
    font-size: 8pt;
    letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
}