body {
    background-color: #1e1e1e;
    user-select: none;
    margin: 0 auto;
}

/* head */
.head {
    position: relative;
    height: 30px;
    box-shadow: 0px 0px 10px 0px #0d9e5b;
    padding: 10px;
}
.head button.home {
    outline: none;
    border-style: none;
    background: none;
    cursor: pointer;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.head span.title {
    position: absolute;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    font-size: 14pt;
    font-weight: 600;
    color: #ffffff;
    border-left-style: groove;
    margin-left: 10px;
    padding-left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* maincontent */
.maincontent {
    position: absolute;
    text-align: center;
    top: 25%;
    left: 50%; top: 55%; transform: translateX(-50%) translateY(-55%);
}
.login_title {
    position: relative;
    margin-bottom: 20px;
    font-size: 25pt;
    color: #ffffff;
    font-weight: 600;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
}
.login_box {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff2c;
    margin: 0px auto;
    border-radius: 10px;
    width: 350px;
    height: 490px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
}
.box_input {
    position: relative;
    text-align: left;
	margin: 0em 2em 1em;
    padding: .8em 1em;
	background: rgba(255, 255, 255, 0.94);
}
.box_input span.fa {
    color: #222;
    width: 22px;
}
.login_input input{
    outline: none;
    font-size: 15px;
    color: #222;
	border:none;
    display: inline-block;
    background: transparent;
    letter-spacing: 1px;
    width: 88%;
}
.login_button {
    position: relative;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    background-image: linear-gradient(#1bec00, #1d9e0d, #1bec00);
    margin: 0.5em 2em 0.5em;
    color: white;
    font-weight: 600;
    user-select: none;
    font-size: 0.875em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
    border: none;
    text-decoration: none;
    padding: .8em 1em;
    letter-spacing: 1px;
}
.login_button:hover{
    background-image: linear-gradient(#1cec00ce, #1d9e0dce, #1cec00ce);
    background-color: #000;
}
.links p {
    font-size: 20px;
    color: #000;
    display: block;
    width: 50%;
    margin: 0 auto;
    letter-spacing: 1px;
    float: left;
}
.links p a {
	font-size: 8pt;
	color: #e2e2e2;
	text-transform: uppercase;
}

/* foot */
.foot {
    position: absolute;
    color: #ffffff44;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
}