.menubar {
    position: relative;
    display: flex;
    z-index: 3;
    flex-direction: row;
    height: 30px;
    width: 30%;
    float: left;
    align-items: center;
    left: 20px;
    padding-left: 10px;
    border-left: 1.5px solid;
    color: white;
}
.menu_items {
    position: relative;
    border-radius: 2px;
    text-decoration: none;
    outline: none;
    border-style: none;
    background: none;
    cursor: pointer;
    font-size: 12pt;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0 10px 0 10px;
    line-height: 30px;
}
.menu_items:hover {
    background-color: rgb(70,70,70);
}
.menu_items.open {
    background-color: rgb(70,70,70);
}
.items_container {
    display: none;
    position: absolute;
    color: #f0f0f0;
    font-size: 10pt; 
    top: 30px;
    left: 0;
    border-radius: 2px;
    width: 150px;
    text-align: left;
    border-style: none;
    background-color: #1e1e1e;
    box-shadow: 2px 2px 5px 0px rgb(0, 0, 0);
}
.items_container_2 {
    display: none;
    position: absolute;
    color: #f0f0f0;
    font-size: 10pt; 
    top: 10px;
    left: 140px;
    border-radius: 2px;
    width: 150px;
    text-align: left;
    border-style: none;
    background-color: #1e1e1e;
    box-shadow: 2px 2px 5px 0px rgb(0, 0, 0);
}
.menu_items:hover .items_container {display: block;}
.item_holder {
    padding: 0 20px 0 20px;
}
.item_holder:hover {
    background-color: rgb(70,70,70);
}
.item_holder:hover .items_container_2 {display: block;}
.item_holder span {
    float: right;
    color: #f0f0f0;
}
.item_divider {
    color: rgb(70,70,70);
    border-top: 1px solid;
    width: 135px;
    margin: 0 auto;
    margin-top: -0.5px;
}