body {
    background-color: #1e1e1e;
    background-size: cover;
    background-position: center center;
    user-select: none;
    margin: 0 auto;
    user-select: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#background {
    position: absolute;
}

/* header */
.header {
    display: inline-block;
    height: 30px;
    box-shadow: 0px 0px 10px 0px #0d9e5b;
    padding: 10px 0px 10px 0px;
}
.header button {
    position: relative;
    text-decoration: none;
    outline: none;
    border-style: none;
    background: none;
    cursor: pointer;
    font-size: 14pt;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}
.header button.home {
    padding-right: 20px;
}
.header span.title {
    position: relative;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    font-size: 14pt;
    font-weight: 600;
    color: #ffffff;
    border-left-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}
.header button.signin {
    border-left-style: solid;
    width: 120px;
    float: right;
}

/* maincontent */
.maincontent {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.signup_title {
    margin-bottom: 10px;
    font-size: 25pt;
    color: #ffffff;
    font-weight: 600;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
}
.signup_box {
    display: flex;
    flex-direction: column;
    background-color: #ffffff2c;
    margin: 0px auto;
    border-radius: 10px;
    width: 550px;
    height: 480px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
}
.item {
    display: flex;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    color: #ffffff;
    font-weight: 500;
    margin-left: 2em; 
    margin-right: 1.75em;
    align-items: center;
    justify-content: space-between;
}
.box_input {
    position: relative;
    width: -webkit-fill-available;
    display: block;
    text-align: left;
	margin: .5em .25em;
    padding: .8em 1em;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 6px;
    float: right;
}
.signup_input input{
    outline: none;
    font-size: 14px;
    color: #222;
	border:none;
    display: block;
    background: transparent;
    letter-spacing: 1px;
    width: 100%;
}
.signup_box button {
    position: relative;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    color: white;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    outline: none;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: .8em 1em;
    letter-spacing: 1px;
    font-size: 1rem;
    margin: 1em 2em 1.5em;
    background-color: rgb(13, 158, 91);
}
.signup_box button:hover {
    background-color: #0d9e5bbf;
}

/* footer */
.footer {
    position: absolute;
    color: #ffffff44;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    bottom: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
}