body {
    background-color: #1e1e1e;
    user-select: none;
    margin: 0 auto;
    user-select: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* header */
.header {
    position: relative;
    height: 30px;
    box-shadow: 0px 0px 10px 0px #0d9e5b;
    padding: 10px 0px 10px 0px;
}
.header button {
    position: relative;
    text-decoration: none;
    outline: none;
    border-style: none;
    background: none;
    cursor: pointer;
    font-size: 14pt;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}
.header button.signin {
    border-left-style: solid;
    width: 120px;
    float: right;
}
.header button.signup {
    border-left-style: solid;
    width: 120px;
    float: right;
}

/* maincontent */
