.night {
  position: absolute;
  width: 70%;
  height: 100%;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 40%;
  top: 65%;
  height: 2px;
  background: linear-gradient(-45deg, rgb(27,217,249), rgba(0, 0, 255, 0));
  border-radius: 999px;
  -webkit-filter: drop-shadow(0 0 6px #699bff);
          filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before, .shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(156,217,249), rgba(0, 0, 255, 0));
  -webkit-transform: translateX(50%) rotateZ(45deg);
          transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
          transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: 29%;
  left: 47%;
  -webkit-animation-delay: 680ms;
          animation-delay: 680ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after, .shooting_star:nth-child(1)::after {
-webkit-animation-delay: 680ms;
        animation-delay: 680ms;
}
.shooting_star:nth-child(2) {
  top: 57%;
  left: 26%;
  -webkit-animation-delay: 336ms;
          animation-delay: 336ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after, .shooting_star:nth-child(2)::after {
-webkit-animation-delay: 336ms;
        animation-delay: 336ms;
}
.shooting_star:nth-child(3) {
  top: 95%;
  left: 20%;
  -webkit-animation-delay: 2397ms;
          animation-delay: 2397ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after, .shooting_star:nth-child(3)::after {
-webkit-animation-delay: 2397ms;
        animation-delay: 2397ms;
}
.shooting_star:nth-child(4) {
  top: 45%;
  left: 34%;
  -webkit-animation-delay: 1364ms;
          animation-delay: 1364ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after, .shooting_star:nth-child(4)::after {
-webkit-animation-delay: 1364ms;
        animation-delay: 1364ms;
}
.shooting_star:nth-child(5) {
  top: 79%;
  left: 35%;
  -webkit-animation-delay: 2803ms;
          animation-delay: 2803ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after, .shooting_star:nth-child(5)::after {
-webkit-animation-delay: 2803ms;
        animation-delay: 2803ms;
}
.shooting_star:nth-child(6) {
  top: 87%;
  left: 25%;
  -webkit-animation-delay: 1433ms;
          animation-delay: 1433ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after, .shooting_star:nth-child(6)::after {
-webkit-animation-delay: 1433ms;
        animation-delay: 1433ms;
}
.shooting_star:nth-child(7) {
  top: 50%;
  left: 55%;
  -webkit-animation-delay: 336ms;
          animation-delay: 336ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after, .shooting_star:nth-child(7)::after {
-webkit-animation-delay: 336ms;
        animation-delay: 336ms;
}
.shooting_star:nth-child(8) {
  top: 68%;
  left: 20%;
  -webkit-animation-delay: 685ms;
          animation-delay: 685ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after, .shooting_star:nth-child(8)::after {
-webkit-animation-delay: 685ms;
        animation-delay: 685ms;
}
.shooting_star:nth-child(9) {
  top: 36%;
  left: 65%;
  -webkit-animation-delay: 1377ms;
          animation-delay: 1377ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after, .shooting_star:nth-child(9)::after {
-webkit-animation-delay: 1377ms;
        animation-delay: 1377ms;
}
.shooting_star:nth-child(10) {
  top: 15%;
  left: 65%;
  -webkit-animation-delay: 1193ms;
          animation-delay: 1193ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after, .shooting_star:nth-child(10)::after {
-webkit-animation-delay: 1193ms;
        animation-delay: 1193ms;
}


@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}
@-webkit-keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
