.filebar {
  background-color: rgb(40, 40, 40);
  width: 3%;
  height: 100%;
}
.shortcut {
  background-color: rgb(70, 70, 70);
  width: 100%;
  height: 100%;
  text-align: center;
}
.icon:hover{
    background-color: #282828;
}
.playground {
  flex: 2;
  margin: 0 0 0 5px;
  height: 100%;
  background-color: #1e1e1e;
}

.code-editor {
  position: relative;
}

.editor-header {
  background-color: rgb(40, 40, 40);
  height: 30px;
  content: attr(title);
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  color: #fafafa;
}

.react-codemirror2 {
  max-height: calc(100% - 30px);
  overflow: auto;
  font-size: 10pt;
}

.resizer {
    width: 5px;
    height: 100%;
    cursor: col-resize;
}

.result {
  flex: 3;
  height: 100%;
}

.iframe {
  width: 100%;
  height: 100%;
  background-color: rgb(70, 70, 70);
  
}
iframe {
  border-style: none;
}