.FileBar {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 30%;
    float: left;
    align-items: center;
    padding-left: 20px;
    border-left-style: solid;
    color: white;
}
.FileBar .file-item {
    position: relative;
    text-decoration: none;
    outline: none;
    border-style: none;
    background: none;
    cursor: pointer;
    font-size: 12pt;
    font-family: Source Sans Pro,Open Sans,Segoe UI,sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0 10px 0 10px;
    line-height: 30px;
}
.FileBar .file-item:hover {
    background-color: rgb(70,70,70);
}